.btn {
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
    border-radius: 10px;
    font-family: Georgia;
    background: rgba(255,255,255,0.1);
    color: #ffffff;
    text-shadow: 0px 0px 5px #000000;
    -webkit-box-shadow: 0px 0px 6px #000000;
    -moz-box-shadow: 0px 0px 6px #000000;
    box-shadow: 0px 0px 6px #000000;
    padding: 5px 20px 5px 20px;
    border: solid rgba(255,255,255,0.2) 1px;
    text-decoration: none;
    -webkit-animation: scaleNormal 0.5s; /* Chrome, Safari, Opera */
    animation: scaleNormal 0.5s;
}

.btn:hover {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 0px 6px #ffffff;
    -moz-box-shadow: 0px 0px 6px #ffffff;
    box-shadow: 0px 0px 6px #ffffff;
    color: rgba(255,255,255,0.8);
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    text-decoration: none;
    -webkit-animation: scaleBig 0.5s; /* Chrome, Safari, Opera */
    animation: scaleBig 0.5s;
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
    cursor: pointer;
    cursor: hand;
}
.btn:active {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-animation: scaleTiny 0.1s; /* Chrome, Safari, Opera */
    animation: scaleTiny 0.1s;
}